# Telegram
TELEGRAM_BOT_TOKEN=8985242998:AAG1iiy6iyWTgR3l1Eh5cnnze-1vxBgtSAo
TELEGRAM_WEBHOOK_URL=https://your-app-name.railway.app/webhook/telegram

# Bitrix Webhook (входящий вебхук из Bitrix)
BITRIX_WEBHOOK_URL=https://joto.bitrix24.ru/rest/1/fum5xeq8ty9h72t7/

# Server
PORT=3000
NODE_ENV=development
